<h1 class="text-center">
  Elyas Sepahi
</h1>

<h3 class="text-center">A Personal Blog</h3>

<p class="text-center">
  elyas.sepahi07@gmail.com
</p>
<div class="flexbox">
  <%= link_to "PERSONAL PROJECTS", home_path, class: "btn" %>
  <%= link_to "ABOUT ME", about_path, class: "btn" %>
</div>


