<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="aboutme.css">
</head>


<body class="container">


<%= render "header" %>



<br>


<div class="center">
  <%= image_tag("photo.png", width: 250) %>
</div>
<p>
  My name is Elyas Sepahi, and I am currently a year 10 secondary school student, studying at Glenthorne High school. This
    website documents the extra curricular projects I have undertaken over the last two years.

  </p>
  <p>
     I am interested in expanding my knowledge of computer sceince,
    engineering, mathematics and economics. I am currently developing my programming skills and exploring its potential applications.
</p>



  </div>









</body>
</html>

<br>
<br>
<a href="https://github.com/Swiftal13" target="_blank" style="text-decoration: none;" class="text-center">
  GITHUB
</a>

